[type="checkbox"]{display:none}

.checkboxes{
padding-left: 1.3em;
position: relative;
height: 144px;
width: 202px;
color: #9B9B9B;
font-family: "Avenir Next";
font-size: 18px;
line-height: 36px;

}

.checkboxes:before{
    content: ' ';
    border: solid 1px #9e9e9e;
    border-radius:50%;
    width: 0.9em;
    height: 0.9em;
    position: absolute;
    left: 0px;
    top: 0.1em;
}

[type="checkbox"]:checked + .checkboxes:before{
    border-color: #EF4166;
    align-content: stretch;
    font-family: FontAwesome;
    content: '\f00c';
}

.two-colums{-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    /* -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    /*-moz-column-gap: 20px; /* Firefox */
    /*column-gap: 20px; */
    
    /*-webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    /*-moz-column-gap: 2rem; /* Firefox */
    /*column-gap: 2rem;*/
    }

.continuar{
    /* height: 72px;
    width: 82px; */
    color: #044087;
    font-family: "Avenir Next";
    font-size: 18px;
    line-height: 36px;
    background-color: transparent;
    border-color: transparent;
    float: right

}
.continuar:after{
    padding-left: 1em;
    /* border: solid 1px #9e9e9e;
    border-radius:50%; */
    color: #EF4166;
    font-family: FontAwesome;
    content: '\f061';
}

.back{
    /* height: 72px;
    width: 82px; */
    color: #9B9B9B;
    font-family: "Avenir Next";
    font-size: 18px;
    line-height: 36px;
    background-color: transparent;
    border-color: transparent;
    float: left

}
.back:before{
    padding-right: 1em;
    /* border: solid 1px #9e9e9e;
    border-radius:50%; */
    color: #9B9B9B;
    font-family: FontAwesome;
    content: '\f060';
}

option[selected]{
    background-color: #EF4166
}

.tituloProyecto{
    font-family: "Avenir Next";
}

.claseProyecto{
        /* height: 48px;
    	width: 273px; */
    	color: #333333;
    	font-family: "Avenir Next";
    	font-size: 14px;
    	font-style: italic;
        line-height: 24px;
    }

.saveInterest{
    background-color: transparent;
    border: transparent;
    
}
.saveInterest:before{
    font-family: FontAwesome;
    color: #EF4166;
    content : '\f055';
    font-size:1.85em
}

.pitchProyecto{
    	height: 56px;
    	width: 617px;
    	color: #044087;
    	font-family: "Avenir Next";
    	font-size: 18px;
        line-height: 24px;
    }

.descripcionProyecto{
    	height: 159px;
    	width: 306px;
    	color: #4A4A4A;
    	font-family: "Avenir Next";
    	font-size: 14px;
    	line-height: 20px;
}

.queTengo{
    	/* height: 120px;
    	width: 225px; */
    	color: #4A4A4A;
    	font-family: "Avenir Next";
    	font-size: 14px;
    	/* line-height: 30px; */
}
.queNecesito{
        /* height: 120px;
    	width: 225px; */
    	color: #4A4A4A;
    	font-family: "Avenir Next";
    	font-size: 14px;
    	/* line-height: 30px; */
}

.queTengo:before{
    color : #EF4166;
    font-family: FontAwesome;
    content: '\f00c';
}

.queNecesito:before{
    color : #EF4166; 
    font-family: FontAwesome;
    content: '\f00d';
}

.teamName{
    	height: 22.69px;
    	width: 227.41px;
    	color: #EF4166;
    	font-family: "Avenir Next";
    	font-size: 18px;
    	font-weight: 600;
    	line-height: 20px;
}

.teamRole{
    	height: 20px;
    	width: 83px;
    	color: #4A4A4A;
    	font-family: "Avenir Next";
    	font-size: 14px;
    	font-style: italic;
    	line-height: 20px;
}

.comment{
    background-color: transparent;
    border: transparent;
}
.comment:before{
    color : #EF4166; 
    font-family: FontAwesome;
    content: '\f075';
}
.like{
    background-color: transparent;
    border: transparent;
}
.like:before{
    color : #EF4166; 
    font-family: FontAwesome;
    content: '\f164';
    background-color: transparent;
}