body {
	font-family:"source-code-pro", 
	sans-serif; font-size: 14px; 
	line-height: 24px; 
	color: #3b3b3b; 
	font-weight: 200;
}

h1, h2, h3, h4 {
	font-family: "source-sans-pro",
	sans-serif; 
	font-weight: 100;
}

h1 {
	font-size: 50px;
	line-height: 50px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 16px;
	font-weight: 600;
}

p {
	margin: 20px 0 20px 0;
}

/* forms */

input {border: 0;
    border-bottom: 1px solid #333333;
    width: 300px;
    font-weight: 600;
	padding: 0 0 10px 0;
	margin-bottom: 1.1rem
}

textarea {
	background: #f5f5f6;
    padding: 10px;
    border-bottom: 1px solid;
    font-weight: 600;}