.continuar {
	background: #505adc;
	padding: 10px;
	text-align: center;
	border-radius: 40px;
	color: #ffffff;
	width: 145px;
	display: inline-block;
	cursor: pointer;
	margin-right: 20px;
	border: transparent;
}

.continuar:hover {
	background: #6e78fa;
}

.back {
	background: #ffffff;
	border: 1px solid #3b3b3b;
	padding: 10px;
	text-align: center;
	border-radius: 40px;
	width: 145px;
	display: inline-block;
	cursor: pointer;
	margin-right: 20px;
}

.back:hover {
	border: 1px solid #a5a5a5;
	color: #a5a5a5;
}

.typeButton {
	background: #ffffff;
	border: 1px solid #3b3b3b;
	padding: 10px;
	text-align: center;
	border-radius: 40px;
	width: 145px;
	display: inline-block;
	cursor: pointer;
	margin-right: 20px;
	width: 300px;
	margin: 0 0 10px 0;
	
}

.typeButton:hover {
	background: #505adc;
	color: #ffffff;
	
}